:root {
  --background-color: #0b1148;
  --outside-block-text-color: white;
  --inside-block-text-color: black;
}

.text-color-black {
  color: var(--inside-block-text-color);
}

h1 {
  margin: 100px 0 50px 0;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/*  */


.custom-input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.custom-input:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
}

.input-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}


.search-button {
  background: linear-gradient(to right, #4caf50, #45a049);
  color: #fff;
  border: 1px solid #4caf50;
  border-radius: 0 5px 5px 0;
  padding: 10px 15px;
  cursor: pointer;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}

.search-button:hover {
  background: linear-gradient(to right, #45a049, #4caf50);
  border: 1px solid #45a049;
}