:root {
  --background-color: #ffd700;
  --outside-block-text-color: white;
  --inside-block-text-color: black;
}

body {
  margin: 0;
  background-color: var(--background-color);
}

body *{
  /* color: var(--outside-block-text-color); */
  font-family: 'Libre Baskerville', serif;
}
