:root {
  --background-color: #0b1148;
  --outside-block-text-color: white;
  --inside-block-text-color: black;
}

body {
  margin: 0;
  background-color: var();
}

body *{
  color: white;
  font-family: 'Libre Baskerville', serif;
}

.text-color {
  color: #0b1148;
}
